body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

header {
    width: 100%;
    height: 50px;
    background-color: #ff1985;
    padding: 5px;
}

header img {
    width: 100px;
    height: 55px;
    position: absolute;
    top: 1px;
}

header h1 {
    text-align: center;
    margin: 3px;
    color: white;
}

main {
    width: 100%;
    height: 1600px;
    margin-top: 0px;
}

.nav {
    height: 50px;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    background-color: #fc60a9;
    border-radius: 5px;
    width: 150px;
}

.nav ul li:hover {
    background-color: rgb(46, 27, 27);
}

.nav li {
    padding: 10px;
    margin: 10px;
}

.nav a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.box {
    width: 100%;
    height: 450px;
    display: inline-flex;
    margin: 10px;
    justify-content: space-around;
}

.one {
    width: 650px;
    height: 400px;
    background-color: white;
}

.two {
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 0px;
}

.three {
    width: 300px;
    height: 400px;
    background-color: white;
}

.one img {
    width: 650px;
    height: 400px;
}

.two h3 {
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 30px;
    position: relative;
    top: 0px;
    margin-top: 0px;
    background-color: #fc179c;
    color: white;
}

.three h3 {
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 30px;
    position: relative;
    top: 0px;
    margin-top: 0px;
    background-color: #ff149d;
    color: white;
}

.port {
    display: flex;
    width: 100%;
    margin: 5px;
    justify-content: space-around;
}

.item {
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 5px;
}

.item img {
    width: 300px;
    height: 300px;
}

.map-port {
    width: 100%;
    height: 250px;
}

.map-port img {
    width: 1000px;
    height: 250px;
    margin-left: 10%;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #ff2090;
    display: block;
    padding: 10px;
}

.footer h2 {
    text-align: center;
    color: aliceblue;
}

.footer p {
    text-align: center;
    color: aliceblue;
}

.social {
    width: 400px;
    height: 100px;
    margin-left: 35%;
    align-items: center;
}

.social ul li {
    display: inline-flex;
    padding: 10px;
    align-items: center;
}

.social img {
    width: 50px;
    height: 50px;
}